<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="dk.dda.ddieditor.line.command.ImportLine"
            id="dk.dda.ddieditor.line.command.ImportLine"
            name="ImportLine">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:filemenu-importmenu?after=merge-ddi">
         <command
               commandId="dk.dda.ddieditor.line.command.ImportLine"
               icon="icons/question.png"
               label="Questions"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="dk.dda.ddieditor.line.view.ProblemView"
            id="dk.dda.ddieditor.line.view.ProblemView"
            name="Problem Import Questions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="dk.dda.ddieditor.line.view.problemMarkerContentGenerator"
            name="ProblemMarkerContentGenerator">
         <markerFieldReference
               id="dk.dda.ddieditor.line.view.TypeMarkerField"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.core.resources.textmarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.descriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
      </markerContentGenerator>
      <markerField
            class="dk.dda.ddieditor.line.view.TypeMarkerField"
            id="dk.dda.ddieditor.line.view.TypeMarkerField"
            name="Type">
      </markerField>
   </extension>

</plugin>
